<!-- filtros-busqueda.component.html -->
<div class="search-bar">
  <div class="search-field">
    <label for="departamento">Departamento</label>
    <input type="text" id="departamento" [(ngModel)]="departamento" placeholder="Añadir Departamento">
  </div>
  <div class="search-field">
    <label for="municipio">Municipio</label>
    <input type="text" id="municipio" [(ngModel)]="municipio" placeholder="Añadir Municipio">
  </div>
  <div class="search-field">
    <label for="people">Personas</label>
    <input type="number" id="people" [(ngModel)]="people" placeholder="Añadir Personas">
  </div>
  <button class="search-btn" (click)="onSearch()">Buscar</button>
</div>
