<footer class="footer">
  <div class="footer__container">
    <!-- Sección de contacto -->
    <div class="footer__left">
      <h3>Contactanos</h3>
      <a style="text-decoration: none; color:#fff;" href="mailto:ourmailaddress@email.com"><i class="fa fa-envelope"></i> ouremailaddress&#64;email.com</a>
      <div class="footer__subscribe">
        <input type="email" class="footer__input" placeholder="Subscribete por email" />
        <button>Enviar</button>
      </div>
    </div>

    <!-- Sección de enlaces -->
    <div class="footer__center">
      <ul>
        <li><a href="#">Conocer fincas</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Soporte</a></li>
        <li><a href="#">Sobre Nosotros</a></li>
      </ul>
    </div>

    <!-- Sección de redes sociales -->
    <div class="footer__right">
      <ul class="footer__socials">
        <li class="footer__right-item">
          <img src="/assets/facebook.png" alt="FB" class="footer__link-logo">
          <a href="https://www.facebook.com/airbnb">
            <p class="footer__link-text">
              Facebook
            </p>
          </a>
        </li>
        <li class="footer__right-item">
          <img src="/assets/instagram.png" alt="ig" class="footer__link-logo">
          <a href="https://www.instagram.com/airbnb/">
            <p class="footer__link-text">
              Instagram
            </p>
          </a>
        </li>
        <li class="footer__right-item">
          <img src="/assets/whatsapp.png" alt="wa" class="footer__link-logo">
          <a href="https://wa.me/573229498926">
            <p class="footer__link-text">
              WhatsApp
            </p>
          </a>
        </li>
        <li class="footer__right-item">
          <img src="/assets/youtube.png" alt="FB" class="footer__link-logo">
          <a href="https://www.youtube.com/watch?v=S43Vb30aM10">
            <p class="footer__link-text">
              Youtube
            </p>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer__bottom">
    <p>ArriendaTuFinca 2024</p>
  </div>
</footer>
