<div class="properties-list">
  <app-card-propiedad *ngFor="let property of properties"
                      [nombre]="property.nombre"
                      [habitaciones]="property.cant_habitaciones"
                      [banos]="property.cant_banos"
                      [mascotas]="property.mascotas"
                      [descripcion]="property.descripcion"
                      [disponibilidad]="property.estado"
                      [precio]="property.valor_noche"
                      [imagen]="property.imagen"
                      [properties]="properties"
                      [idP]="property.propiedad_id">>
  </app-card-propiedad>
</div>
