<div class="details">
  <div class="details__container">
    <div class="details__left">
      <h2 class="details__left-title">Detalles de huesped principal</h2>
      <form action="post" class="details__left-form">
        <input type="text" placeholder="Nobres" required="true" class="details__left-form-names details__input">
        <input type="text" placeholder="Apellidos" required="true" class="details__left-form-lastnames details__input">
        <input type="email" placeholder="Email" required="true" class="details__left-form-email details__input">

        <div class="phone__container">
          <img src="/assets/colombia.png" alt="Colombia" class="phone__image">
          <input type="tel" required="true" placeholder="Numero de telefono" class="details__left-form-phone details__input" id="phone">
        </div>


        <button type="submit" class="details__left-form-submit btn-onhover">Agregar huesped</button>
      </form>
      <div class="details__left-guests">
        <img src="/assets/people.png" alt="Guests" class="details__left-guests-img">
        <h4 class="details__left-guests-title">Huespedes:</h4>
        <span class="details__left-guests-quantity">1</span>
        <div class="details__left-guests-buttons">
          <button class="details__left-guests-buttonadd">+</button>
          <button class="details__left-guests-buttonreduce">-</button>
        </div>
      </div>
      <p class="details__left-terms">
        By clicking "Book" below, I have read and agreed to the <span class="details__left-terms-styled">key contract terms, cancellation policy and apartment & building rules</span> , and to pay the total amount shown.
      </p>
      <!-- detalles-reserva.component.html -->
      <button class="details__left-submit btn-onhover" (click)="goToPagarReserva()">Reservar</button>

    </div>
    <div class="details__right">
      <app-reservation-window></app-reservation-window>
    </div>
  </div>
</div>
