<div class="details">
  <div class="details__container">
    <div class="details__left">
      <h2 class="details__left-title">Detalles de huésped principal</h2>

      <div class="details__left-info">
        <p><strong>Nombre:</strong> {{ usuario?.nombre }}</p>
        <p><strong>Correo:</strong> {{ usuario?.correo }}</p>
        <p><strong>Teléfono:</strong> {{ usuario?.telefono }}</p>
      </div>

      <form class="details__left-form">
        <!-- Opcional: Si se requiere algún campo de edición adicional -->
      </form>

      <div class="details__left-guests">
        <img src="/assets/people.png" alt="Guests" class="details__left-guests-img">
        <h4 class="details__left-guests-title">Huéspedes adicionales:</h4>
        <span class="details__left-guests-quantity">{{ solicitud.huespedes }}</span>
        <div class="details__left-guests-buttons">
          <button (click)="incrementarHuespedes()" class="details__left-guests-buttonadd">+</button>
          <button (click)="decrementarHuespedes()" class="details__left-guests-buttonreduce">-</button>
        </div>
      </div>

      <p *ngIf="errorMensaje" class="error-message">{{ errorMensaje }}</p>

      <p class="details__left-terms">
        Al hacer clic en "Reservar", acepto los <span class="details__left-terms-styled">términos del contrato clave, política de cancelación y reglas del apartamento y edificio</span>, y me comprometo a pagar el monto total mostrado.
      </p>

      <button class="details__left-submit btn-onhover" (click)="goToPagarReserva()">Reservar</button>

    </div>

    <!-- Agrega *ngIf aquí para esperar que 'propiedad' esté definida -->
    <div class="details__right" *ngIf="propiedad">
      <app-reservation-window [propiedad]="propiedad" [solicitud]="solicitud"></app-reservation-window>
    </div>
  </div>
</div>
