<header>
  <nav class="navbar">
    <div class="logo"></div>
    <ul class="nav-links">
      <li><a href="#" class="nav__link">
        <p class="nav__text">
          Home
        </p>
      </a></li>

      <!-- Opciones específicas para el arrendador -->
      <li *ngIf="esArrendador"><a href="#" class="nav__link">
        <p class="nav__text">
          Ver solicitudes
        </p>
      </a></li>
      <li *ngIf="esArrendador"><a href="#" class="nav__link">
        <p class="nav__text">
          Historial de solicitudes
        </p>
      </a></li>
      <li *ngIf="esArrendador"><a href="#" class="nav__link">
        <p class="nav__text">
          Mi perfil
        </p>
      </a></li>

      <!-- Opciones generales si no es arrendador -->
      <li *ngIf="!esArrendador"><a href="#" class="nav__link">
        <p class="nav__text">
          Conocer fincas
        </p>
      </a></li>
      <li *ngIf="!esArrendador"><a href="#" class="nav__link">
        <p class="nav__text">
          Sobre nosotros
        </p>
      </a></li>
      <li *ngIf="!esArrendador"><a href="#" class="nav__link">
        <p class="nav__text">
          Contacto
        </p>
      </a></li>
    </ul>

    <!-- Botón para arrendador -->
    <button class="login-btn" *ngIf="esArrendador" (click)="irACrearPropiedad()">Crear propiedad</button>

    <!-- Botón de login -->
    <button class="login-btn">Log in</button>
  </nav>
</header>
