<div class="window">
  <div class="window__container">
    <img src="/assets/example1.png" alt="example" class="window__image">
    <div class="window__content">
      <div class="window__content-check">
        <div class="window__content-check-in">
          <h4 class="window__content-check-in-title">
            Check in
          </h4>
          <div class="window__content-check-in-cont">
            <img src="/assets/calendar.png" alt="calendar" class="window__content-check-in-image">
            <p class="window__content-check-in-date">31.12.2021</p>
          </div>
        </div>
        <div class="window__content-check-out">
          <h4 class="window__content-check-out-title">
            Check out
          </h4>
          <div class="window__content-check-out-cont">
            <img src="/assets/calendar.png" alt="calendar" class="window__content-check-out-image">
            <p class="window__content-check-out-date">31.02.2022</p>
          </div>
        </div>
      </div>
      <div class="window__content-guests">
        <div class="window__content-guests-info">
          <img src="/assets/people.png" alt="people" class="window__content-guests-img">
          <h4 class="window__content-guests-title">Huespedes:</h4>
          <span class="window__content-guests-quantity">1</span>
        </div>
        <p class="window__content-guests-note">
          Todas las utilidades incluidas
        </p>
      </div>
      <div class="window__content-price">
        <ul class="window__content-price-list">
          <li class="window__content-price-item">
            <p class="window__content-price-item-text">Precio renta por noche</p>
            <div class="window__content-price-item-container">
              <p class="window__content-price-item-price">£3700</p>
              <p class="window__content-price-item-note">incl. IVA</p>
            </div>
          </li>
          <li class="window__content-price-item">
            <div class="window__content-price-item-wrap">
              <p class="window__content-price-item-text content-text-bold">Page despues de reservar</p>
              <img src="/assets/more.png" alt="more" class="window__content-price-item-img">
            </div>
            <div class="window__content-price-item-container">
              <p class="window__content-price-item-price content-text-bold">£3700</p>
              <p class="window__content-price-item-note">incl. IVA</p>
            </div>
          </li>
          <li class="window__content-price-item">
            <div class="window__content-price-item-wrap">
              <p class="window__content-price-item-text">Costos totales</p>
              <img src="/assets/more.png" alt="more" class="window__content-price-item-img">
            </div>
            <div class="window__content-price-item-container">
              <p class="window__content-price-item-price">£4001</p>
              <p class="window__content-price-item-note">incl. IVA</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="window__content-timeline">
        <h4 class="window__content-timeline-title">Timeline de pago</h4>
        <div class="window__content-timeline-container">
          <img src="/assets/timeline.png" alt="timeline" class="window__content-timeline-img">
          <div class="window__content-timeline-info">
            <div class="window__content-timeline-info-item">
              <div class="window__content-timeline-info-item-wrap">
                <p class="window__content-timeline-info-item-text">Reserve este departamento</p>
                <p class="window__content-timeline-info-item-textlimit">Vence hoy</p>
              </div>
              <p class="window__content-timeline-info-item-price">£4001.70</p>
            </div>
            <div class="window__content-timeline-info-item">
              <div class="window__content-timeline-info-item-wrap">
                <p class="window__content-timeline-info-item-text">Despues de checkout</p>
                <p class="window__content-timeline-info-item-textlimit">Reciba su deposito de $400 despues de 30 dias</p>
              </div>
              <img src="/assets/more.png" alt="more" class="window__content-timeline-info-item-img"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
