.container{
    display: flex;
    align-items: center;
    justify-content: center;

}

.dropdown-menu-title {
    border: 1px solid #ccc;
    background-color: transparent;
    padding: 8px 20px;
    display: inline-block;
    border-radius: 4px; box-shadow: 5px 5px 5pxÂè£#CCc;
    cursor: pointer;
    position: relative;
    min-width: 300px;
}

.dropdown-menu-title__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.dropdown-menu-title__img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.dropdown-menu-menu {
    display: none;
    position: absolute;
    width: 500px;
    min-height: 100px;
    box-shadow: 5px 5px 4px #CCC;
    background-color:#ffffff;
    border-radius: 10px;
    top: 105%;
    left: 0;
    border: 1px solid #CCC;

}

.dropdown-menu-title:hover {
    .dropdown-menu-menu {
        display: block;
    }
    .active {
        display: block;
    }
}

.dropdown-menu__list {
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction:column;

}

.dropdown-menu__item {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border-bottom: 1px solid #CCC;

}

.dropdown-menu__text {
    margin-left: 20px;
    height: 25px;
    display: block;
    transition: all 0.3s ease;
}

.dropdown-menu__text:hover {
    background-color: #ccc;
}