<div class="properties-list">
  <app-card-propiedad *ngFor="let property of properties"
                      [nombre]="property.nombre"
                      [habitaciones]="property.cantHabitaciones"
                      [banos]="property.cantBanos"
                      [mascotas]="property.mascotas"
                      [descripcion]="property.descripcion"
                      [disponibilidad]="property.estado"
                      [precio]="property.valorNoche"
                      [imagen]="property.imagen"
                      [properties]="properties"
                      [idP]="property.propiedadId"
                      [usuarioId]="usuarioId"> <!-- Aquí pasamos usuarioId -->
  </app-card-propiedad>
</div>
