<div class="propiedad" (click)="viewPropiedad(idP)">
  <div class="property-card">
    <img class="property-image" [src]="imagen" alt="Imagen de la propiedad">
    <div class="property-details">
      <h3 class="property-name">{{ nombre }}</h3>
      <div class="property-info">
        <span class="space">🛏️ {{ habitaciones }} habitacion(es)</span>
        <span class="space">🚽 {{ banos }} baño(s)</span>
        <span class="space" *ngIf="mascotas">🐕 Mascotas</span>
        <span class="space" *ngIf="piscina">🏊 Piscina</span>
      </div>
      <p class="property-descripcion">{{ descripcion }}</p>
      <div class="availability">
        <span class="available-date">Disponible {{ disponibilidad }}</span>
        <span class="price">{{ precio }} COP</span>
      </div>
    </div>
  </div>
</div>
