<div class="property-card">
  <img class="property-image" [src]="imagen" alt="Imagen de la propiedad">
  <div class="property-details">
    <h3>{{ nombre }}</h3>
    <div class="property-info">
      <span>👤 {{ habitaciones }} cama(s)</span>
      <span>🍽️ {{ banos }} baño(s)</span>
      <span *ngIf="mascotas">📶 Wifi</span>
    </div>
    <p>{{ descripcion }}</p>
    <div class="availability">
      <span class="available-date">Disponible {{ disponibilidad }}</span>
      <span class="price">{{ precio }}</span>
    </div>
  </div>
</div>
