<footer class="footer">
  <div class="footer__container">
    <!-- Sección de contacto -->
    <div class="footer__left">
      <h3>Contactanos</h3>
      <p><i class="fa fa-envelope"></i> ouremailaddress&#64;email.</p>
      <div class="footer__subscribe">
        <input type="email" placeholder="Subscribete por email" />
        <button>Enviar</button>
      </div>
    </div>

    <!-- Sección de enlaces -->
    <div class="footer__center">
      <ul>
        <li><a href="#">Conocer fincas</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Soporte</a></li>
        <li><a href="#">Sobre Nosotros</a></li>
      </ul>
    </div>

    <!-- Sección de redes sociales -->
    <div class="footer__right">
      <ul class="footer__socials">
        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
        <li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
        <li><a href="#"><i class="fa fa-whatsapp"></i> WhatsApp</a></li>
        <li><a href="#"><i class="fa fa-youtube"></i> Youtube</a></li>
      </ul>
    </div>
  </div>

  <div class="footer__bottom">
    <p>ArriendaTuFinca 2024</p>
  </div>
</footer>
