<div class="search-bar">
    <div class="search-field">
      <label for="location">Ubicación</label>
      <input type="text" id="location" placeholder="Añadir Ubicación">
    </div>
    <div class="search-field">
      <label for="date">Fecha</label>
      <input type="text" id="date" placeholder="Añadir Fecha">
    </div>
    <div class="search-field">
      <label for="people">Personas</label>
      <input type="text" id="people" placeholder="Añadir Personas">
    </div>
    <button class="search-btn">
      <img src="/Users/sage/Pictures/profile/miniNeji.png" alt="Buscar" />
    </button>
  </div>