<header>
  <nav class="navbar">
    <div class="logo"></div>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>

      <!-- Opciones específicas para el arrendador -->
      <li *ngIf="esArrendador"><a href="#">Ver Solicitudes</a></li>
      <li *ngIf="esArrendador"><a href="#">Historial de Solicitudes</a></li>
      <li *ngIf="esArrendador"><a href="#">Mi Perfil</a></li>

      <!-- Opciones generales si no es arrendador -->
      <li *ngIf="!esArrendador"><a href="#">Conocer Fincas</a></li>
      <li *ngIf="!esArrendador"><a href="#">Sobre Nosotros</a></li>
      <li *ngIf="!esArrendador"><a href="#">Contacto</a></li>
    </ul>

    <!-- Botón para arrendador -->
    <button class="login-btn" *ngIf="esArrendador" (click)="irACrearPropiedad()">Crear Propiedad</button>

    <!-- Botón de login -->
    <button class="login-btn">Log in</button>
  </nav>
</header>
