/* Header Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px; /* Reducimos el padding a 10px para más espacio */
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box; /* Incluye el padding dentro del ancho total */
  z-index: 99999999;
}

.logo {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-image: url("../../../assets/images/logo.jpg");
  background-size: cover;
  background-position: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.login-btn {
  background-color: #5e3e1b;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap; /* Previene que el texto dentro del botón se parta en múltiples líneas */
}
